.DS_Store
conf/__pycache__/*
__pycache__/*
validators/__pycache__/*
individuals/__pycache__/*
schemas/__pycache__/*
snpEFF
bcftools*
scripts/datasheet/conf/__pycache__/*
*.vcf.gz
*.vcf
*.vcf.gz.tbi
vcf_BelCovid_2